#results{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
}

#results #processed-Frame{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
}

.object-label{
    position: absolute;
    top: 5px;
    left: 5px;
    font-size:40px;
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
}

.object-label-outline{
    position: absolute;
    outline: 3px solid red;
   /*  top: 50px;
    left: 50px;
    width: 100px;
    height: 200px; */
}

.face-label{
    position: absolute;
    top: 5px;
    right: 50%;
    font-size: 40px;
    color: red;
    background-color: rgba(255, 255, 255, 0.7);
}

.face-label-outline{
    position: absolute;
    border-radius: 40%;
    border: 12px solid green;
   /*  top: 50px;
    left: 50px;
    width: 100px;
    height: 200px; */
}