@charset "UTF-8";
/* CSS Document */

/*@font-face {
    font-family: 'Wake100';
    src: url('../fonts/Wake/Wake-100.ttf');    
}
*/

html {
	/*cursor: none;*/ /*TODO: set on for production release*/
  	-webkit-user-select: none; 
	-webkit-font-smoothing: antialiased !important;
    
}
html, body, #background-container, #main-container, #main-content, #foreground-container {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	overflow: hidden;
	/*font-family: 'MyriadProRegular';*/
	font-size: 56px;
    zoom: 100%;
}
p {
	margin: 0;
	padding: 0;
}
::-webkit-scrollbar {
    display: none; 
}

.fadeout {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: opacity .25s linear, visibility 0s linear .25s;
}
.fadeout-quick {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .25s linear, visibility 0s linear .25s;
}
.fadeout-no-animation {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: none;	
}
.fadein {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	transition: opacity .5s linear, visibility 0s;
}
.fadein-quick {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity .25s linear, visibility 0s;
}
.disable-touch {
	pointer-events: none;
}
.hide {
	visibility: hidden;
}
.remove {
	display: none;
}

/* Global View Properties */

.view-controller {
	position: absolute;
    opacity: 0;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    border:none;
    transition: all .5s ease-out;
}
.view-intro {
	opacity: 1;
}

/* Foreground */

#foreground-container {
    pointer-events: none;
    z-index: 999;
}
#foreground-container.active {
    pointer-events: auto;
}